---
- hosts: slave
  tasks:
    - name: Install Percona repo
      yum:
        name: http://www.percona.com/downloads/percona-release/redhat/0.1-4/percona-release-0.1-4.noarch.rpm
        state: present
    
    - name: Install Percona
      yum:
        name: Percona-Server-server-57
        state: latest
    
    - name: Run Percona
      systemd:
        name: mysql
        state: started
    
    - name: Enable Percona
      systemd:
        name: mysql
        enabled: yes
